JWT_SECRET="I hate to bust your bubble Morty but love is a chemical reaction that compels animals to mate. It hits hard, then slowly fades leaving you floundering in a failing marriage. Break the cycle, Morty! Focus on Science."