
.imgset {
    width: 400px;
}

.tempimgcss {
    width: 500px;
}

/* custom bulma overrides */

.submit {
    width: 60%;
    margin: auto;
    display: block
}

.button-pad {
    margin-top: 15px;
}

.tab {
    padding-right: 15px;
    padding-top: 15px;
}

#name {
    margin-bottom: 10px;
}

.rating {
    margin-top: 5px;
}

.profile {
    padding-top: 1rem;
}

#navbar {
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.profile-gear {
    padding-top: 4rem;
}
.navBarItem {
  padding-left: 30px;
}

.add-gear {
    padding: 3rem;
}


.edit-profile {
    padding: 3rem;
}

.navlink a:link {
  color: black;
}

.navLink a:visited {
  color: black;
}

.navLink a.active {
  color: hotpink;
}

.navSpace {
  padding-left: 30px;
}
